<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>

<script
        async defer th:src="${apiKey}">
</script>

<script th:src="@{/js/vueLayout/sidebar.js}"></script>
<script th:src="@{/js/vueLayout/header.js}"></script>
<script th:src="@{/js/vueLayout/map.vue}"></script>
<script th:src="@{/js/http.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/onReady.js}"></script>
<section th:substituteby="map"></section>
<!--<script th:src="@{/js/bundle.min.js}" ></script>-->
