<nav class="navbar navbar-default header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li style="border-right:  solid #5e5e5e;">
                    <a class="header-text" href="#">
                        <p>Vigiles Urbani By PretorianHackers</p>
                    </a>
                </li>
                <li style="margin-left: 10px;">
                    <a class="header-text navbar-brand" href="/">
                        <p>Map</p>
                    </a>
                </li>
                <li>
                    <a class="header-text header-text" href="/about">
                        <p>About Us</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
