<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <section th:substituteby="layout/head"></section>
</head>
<!--<body class="hold-transition skin-green sidebar-mini fixed">-->
<body>
<div class="wrapper">
    <section th:substituteby="layout/sideBar"></section>
    <div class="main-panel normal-view">
        <section th:substituteby="layout/header"></section>
        <section layout:fragment="content" th:remove="tag"></section>
    </div>

    <th:block th:if="${normalMap}">
        <script th:inline="javascript">
            function initMap() {
                initMapOnCurrentLocation();
            }
        </script>
    </th:block>

    <th:block th:if="${hotMap}">
        <script th:inline="javascript">
            function initMap() {
                initTerrainMapOnCurrentLocation();
            }
        </script>
    </th:block>

    <th:block th:if="${dashboard}">
        <script th:inline="javascript">
            function initAutocomplete() {
                var geocoder = new google.maps.Geocoder();
                var autocomplete = new google.maps.places.Autocomplete(
                    (document.getElementById('autocomplete')), {
                        types: ['geocode']
                    });

                autocompleteListener(autocomplete, geocoder);
            }
        </script>
    </th:block>

    <footer th:substituteby="layout/footer"></footer>
</div>
</body>
</html>