<div class="sidebar" data-color="red">
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                Vigiles Urbani
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="/">
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="/hot-zones">
                    <p>Hot Zones</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p>About Us</p>
                </a>
            </li>
        </ul>
    </div>
</div>
