.main-panel{
    width: 100%;
    background: #d80606;
}
a {
    color: white;
}

.sidebar{
    height: 100%;
    /*width: 20%;*/
    background: #d80606;
    position: absolute;
}

.menu-button{
    background-image: url("/static/img/menu.png");
}