<script th:inline="javascript">
    function initMapOnCurrentLocation() {
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 15,
                type: 'roadmap'
            });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
                setListener(map);
                setCrimesPoints(map);
                setAddressFinder(map);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
</script>

<script th:inline="javascript">
    function initTerrainMapOnCurrentLocation() {
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 15,
                type: 'roadmap'
            });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
                setHotZoneFunctions(map);
                setAddressFinder(map);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
</script>